.section-two-main{
    background-color: #090909;
    // padding: 0px 0px;
    .box-shadow{
        z-index: 9;
        position: relative;
        ::after{
            content: "";
            position: absolute;
            width: auto;
            height:auto;
            // border-radius: 2px solid yellow;
            border-top: 4px solid #fff;
            border-left: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 4px solid #fff;
            // transform: rotate(9deg);
            // border-bottom: 2px solid yellow;
            // border-radius: 2px 0px 0px 0px;
            // background: red;
        border-radius:50%;
        top: -1px;
        left: -2px;
        right:-4px;
        bottom: 0px;
        // z-index: -1;
        }
    }
  .buttom-color{
    box-shadow: 0px -50px 100px 80px#090909;
    background-color: #090909;
    filter: blur(60px);
  }
}
